<form [formGroup]="myForm" (submit)="onSubmit($event)" >
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
      <i class="fa-solid fa-martini-glass"></i>
      {{ isEditar() ? "Editar" : "Cadastrar" }} Produto
    </h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>
  
  <div class="modal-body">
    <div class="row mb-4">
      <div class="col">
        <input type="hidden" name="id" formControlName="id" >
        <mdb-form-control>
          <input mdbInput type="text" id="nome" class="form-control" value="{{ produto?.nome }}" formControlName="nome" />
          <label mdbLabel class="form-label" for="nome">Nome</label>
        </mdb-form-control>
        
      </div>
      <div class="col">
        <mdb-form-control>
          <input mdbInput type="text" id="precoVenda" class="form-control" value="{{ produto?.precoVenda }}" formControlName="precoVenda" />
          <label mdbLabel class="form-label" for="precoVenda">Preço Venda</label>
        </mdb-form-control>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
      <select class="form-control" required formControlName="categoriaEnum" >
          <option selected>Selecione uma opção</option>
          @for (item of categorias; track $index) {
            <option [value]="item">{{ categoriasLabels[item] }}</option>
          }
        </select>
      </div>
      <div class="col">
        <select class="form-control" required formControlName="grupoEnum" >
          <option selected>Selecione uma opção</option>
          @for (item of grupos; track $index) {
            <option [value]="item">{{ gruposLabels[item] }}</option>
          }
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">fechar</button>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>
</form>
