<table class="table align-middle table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Produto</th>
      <th scope="col">Qnt. Estoque</th>
      <th scope="col">Local</th>
      <th scope="col">Data Criação</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>   
    @if (!estoques().length) {
        <tr>
            <td colspan="7" class="text-center">Sem Usuários</td>
        </tr>
    }
    @for (estoque of estoques(); track $index) {
        <tr>
            <td>{{ estoque.id }}</td>
            <td>{{ estoque.produto }}</td>
            <td>{{ estoque.qtdeEstoque }}</td>
            <td>{{ estoque.local }}</td>
           
            <td>{{ estoque.dataCriacao }}</td>
            <td class="text-end ">
                <div class="d-flex align-items-center justify-content-end">
                    <button  type="button" class="btn text-success shadow-0" (click)="mov.emit(estoque)">
                        <i class="fa-regular fa-square-plus fs-5"></i>
                    </button>
                    <button type="button" class="btn text-primary shadow-0" (click)="show.emit(estoque)">
                        <i class="fa-solid fa-arrow-right-arrow-left fs-6"></i>
                    </button>
                </div>
            </td>
        </tr>
    }
  </tbody>
</table>

